<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>학교 종이 땡땡땡</title>
    <link rel="stylesheet" href="/css/global.css" type="text/css">
    <link rel="stylesheet" href="/css/calendar.css">
</head>
<body>
<!--------------------------------------제목 및 네비----------------------------------------------->
    <header class="navbox">
        <nav>
            <h1>
                <button class="main" onclick="location.href='main'">
                    학교종이 땡땡땡
                </button>
            </h1>
            <ul>
                <li>
                    <button class="ranking" onclick="location.href='rank'">
                        랭킹
                    </button>
                </li>
                <li>
                    <button class="calendar" onclick="location.href='calendar'">
                        캘린더
                    </button>
                </li>
                <li>
                    <button class="student-management">
                        <a href="#">학생관리</a>
                    </button>
                </li>
                <li>
                    <button class="mypage">
                        <a href="#">마이페이지</a>
                    </button>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>