<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.semiproject.model.GradeDAO">

    <resultMap id="schoolResult" type="com.example.semiproject.dto.GradeDTO">
        <id property="name" column="student_name"/>
        <result property="point" column="score"/>
        <result property="reason" column="praise_context"/>
        <result property="date" column="praise_date"/>
        <result property="tema" column="category_name"/>
    </resultMap>
    <select id="gradeReason" resultMap="schoolResult">
        SELECT
            A.score ,
            A.praise_context ,
            A.praise_date
          FROM praise A
          JOIN student B ON (A.student_code = B.student_code)
          JOIN praise_category C ON (A.category_code = C.category_code)
         WHERE B.student_name = "${name}"
           AND C.category_name = "${tema}";


    </select>
</mapper>