<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.semiproject.model.PraiseDAO">


    <insert id="processPraise" parameterType="com.example.semiproject.dto.PraiseDTO">
        INSERT INTO praise
        VALUES
        (
        NULL,
        ${category},
        "${praise}",
        ${point},
        (SELECT
        student_code
        FROM student
        WHERE student_name = '${name}'
        AND user_code = 1),
        "${date}",
        "Y",
        CURRENT_DATE,
        NULL,
        NULL
        );
    </insert>
</mapper>