<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.semiproject.model.rankDAO">


    <resultMap id="studentResult" type="com.example.semiproject.dto.RankDTO">
        <id property="name" column="student_name"/>
        <result property="score" column="score"/>
    </resultMap>

    <select id="studentRank" resultMap="studentResult">
        SELECT
            a.student_name,
            sum(b.score) AS score
          FROM student a
          JOIN praise b ON (a.student_code = b.student_code)
         GROUP BY a.student_name
         ORDER BY score DESC
         LIMIT 10;
    </select>

    <select id="rankTotal" resultMap="studentResult">

    </select>
</mapper>